<div>
  <table style="border:1">
    <tr>
      <th>id</th>
      <th>name</th>
      <th></th>
    </tr>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.id %></td>
        <td><%= project.name %></td>
        <td>
          <%= link_to '詳細', project_path(project) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<style>
  table, td, th {
      border: 2px solid black;
  }
</style>