<div style="background-color: #111;color: #eee;display:flex;justify-content: space-between;">
  <div>
    <h1>Admin Navbar</h1>
  </div>
  <div>
    <%= button_to 'Log out', destroy_user_session_path, method: :delete %>
  </div>
</div>
